{% extends 'base.html' %}

{% block title %}Событие: {{ event.event_title }} {% endblock %}

{% block content %}
<article>
<!--    Детали события-->
    <h1>{{ event.event_title }}</h1>
    <p>{{ event.event_text }}</p>


            {% if event.cover_image %}
    <img src="{{ event.cover_image.url }}" alt="event.news_title">
    {% endif %}



    {% if user.is_authenticated %}
    <!--    Форма для комментариев-->
    <form action="{% url 'events:event_comment' event.pk %}" method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Оставить комментарий</button>
    </form>
    {% else %}
    <p>
        Для оставления комментария необходимо <a href="{% url 'login' %}">Войти</a>
         или <a href="{% url 'main:signup' %}">Зарегистрироваться</a>.
    </p>
{% endif %}

<!-- Вывод категорий событий как ссылки -->
<p>Категории:
    {% for category in event.event_to_category.all %}
    <a href="{% url 'events:events_by_category' category.id %}">{{ category.category_name_category }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
</p>





<!-- Вывод комментариев -->
    {% for comment in event.comments_event.all %}
    <div>
        <strong>{{ comment.comment_author_event }}:</strong>
        <p>{{ comment.comment_text_event}}</p>
    </div>
    {% endfor %}


</article>
{% endblock %}
