{% extends 'base.html' %}

{% block content %}
<h2>{{ event.title }}</h2>
<div class="images">
    {% for image in images %}
    <div class="image">
        <a href="{% url 'gallery:gallery_detail' image.id %}">
            <img src="{{ image.image.url }}" alt="{{ image.title }}">
        </a>
    </div>
    {% endfor %}
</div>

{% if event.category %}
    <p>Категория: <a href="{% url 'gallery:images_by_category' category_id=event.category.id %}">{{ event.category.name }}</a></p>
{% else %}
<p>Категория: не указана</p>
{% endif %}
{% endblock %}
