{% extends 'base.html' %}

{% block content %}
<h1>Галерея событий</h1>
<div class="events">
    {% for event in events %}
    <div class="event">
        <h2><a href="{% url 'gallery:event_detail' event.id %}">{{ event.title }}</a></h2>
        {% if event.images.all %}
        <div class="image">
            <!-- Показываем только первое изображение для события -->
            <img src="{{ event.images.all.0.image.url }}" alt="{{ event.images.all.0.title }}" class="custom-img">
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}
