{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}

<form method="get" action="{% url 'news:search_news' %}">
    <input type="text" name="search_query" placeholder="Поиск новостей...">
    <button type="submit">Поиск</button>
</form>

<h1>Все новости</h1>
{% for item in news %}
<div>
    <h2><a href="{% url 'news:news_detail' item.id %}">{{ item.news_title }}</a></h2>
    <p>{{ item.news_text|truncatewords:30 }}</p> <!--Отображение первых 30 слов новости-->
    <p>Категории:
        {% for category in item.news_to_category.all %}
            <a href="{% url 'news:news_by_category' category.id %}">{{ category.category_name_news }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
</div>
{% endfor %}

{% endblock %}
