{% extends 'base.html' %}

{% block title %}Новость: {{ news.news_title }} {% endblock %}

{% block content %}
<article>
    <!--    Детили новости-->
    <h1>{{ news.news_title }}</h1>
    <p>{{ news.news_text }}</p>


    {% if news.cover_image %}
    <img src="{{ news.cover_image.url }}" alt="news.news_title">
    {% endif %}


    {% if user.is_authenticated %}
    <!--    Форма для комментариев-->
    <form action="{% url 'news:news_comment' news.pk %}" method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Оставить комментарий</button>
    </form>
    {% else %}
    <p>
        Для оставления комментария необходимо <a href="{% url 'login' %}">Войти</a>
        или <a href="{% url 'main:signup' %}">Зарегистрироваться</a>.
    </p>
    {% endif %}

    <!--    Вывод категорий новостей как ссылки-->
    <p>
        {% for category in news.news_to_category.all %}
        <a href="{% url 'news:news_by_category' category.id %}">{{ category.category_name_news }}</a>{% if not
        forloop.last %}, {% endif %}
        {% endfor %}
    </p>


    <!--    Вывод комментариев   -->
    {% for comment in news.comments_news.all %}
    <div>
        <strong>{{ comment.comment_author_news }}:</strong>
        <p>{{ comment.comment_text_news }}</p>
    </div>
    {% endfor %}


</article>
{% endblock %}
