{% extends 'base.html' %}

{% block title %}Статья: {{ article.article_title }} {% endblock %}

{% block content %}
<article>
    <!--    Детали статьи-->
    <h1>{{ article.article_title }}</h1>
    <div class="article-content">{{ article.content|safe }}</div>


    {% if article.cover_image %}
    <img src="{{ article.cover_image.url }}" alt="{{ article.article_title }}" class="custom-img">
    {% endif %}


    {% if user.is_authenticated %}
    <!--    Форма для комментариев-->
    <form action="{% url 'articles:article_comment' article.pk %}" method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Оставить комментарий</button>
    </form>
    {% else %}
    <p>
        Для оставления комментария необходимо <a href="{% url 'login' %}">Войти</a>
        или <a href="{% url 'main:signup' %}">Зарегистрироваться</a>.
    </p>
    {% endif %}

    <!--    Вывод категорий статей -->
    <p>
        {% for category in article.article_to_category.all %}
        <a href="{% url 'articles:articles_by_category' category.id %}">{{ category.category_name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>


    <!--    Вывод комментариев   -->
    {% for comment in article.comments.all %}
    <div>
        <strong>{{ comment.comment_author_article }}:</strong>
        <p>{{ comment.comment_text_article }}</p>
    </div>
    {% endfor %}


</article>
{% endblock %}
