{% extends 'base.html' %}

{% block title %}Статья: {{ article.article_title }} {% endblock %}

{% block content %}
<article>
<!--    Детали статьи-->
    <h1>{{ article.article_title }}</h1>
    <p>{{ article.article_text }}</p>


    <!--    Форма для комментариев-->
    <form action="{% url 'articles:article_comment' article.pk %}" method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Оставить комментарий</button>
    </form>


    <!--    Вывод категорий статей -->
    <p>
        {% for category in article.article_to_category.all %}
            {{ category.category_name }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>


<!--    Вывод комментариев   -->
    {% for comment in article.comments.all %}
    <div>
        <strong>{{ comment.comment_author_article }}:</strong>
        <p>{{ comment.comment_text_article }}</p>
    </div>
    {% endfor %}


</article>
{% endblock %}
