{% extends 'base.html' %}

{% block title %}Статья: {{ article.article_title }} {% endblock %}

{% block content %}
<article>
    <h1>{{ article.article_title }}</h1>
    <p>{{ article.article_text }}</p>

    <p>
        {% for category in article.article_to_category.all %}
            {{ category.category_name }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>


<!--    Вставить сюда комментарии и формы для них-->
    {% for comment in article.comments.all %}
    <div>
        <strong>{{ comment.comment_author_article }}:</strong>
        <p>{{ comment.comment_text_article }}</p>
    </div>
    {% endfor %}


</article>
{% endblock %}
