<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Wind Runners Club{% endblock %}</title>
    </head>
    <body>


        <header>

            {% block header %}
                <nav>
                    <a href="{% url 'main:index' %}">Главная</a>
                    <a href="{% url 'news:news_list' %}">Новости</a>
                    <a href="{% url 'articles:article_list' %}">Статьи</a>
                    <a href="{% url 'events:event_list' %}">События</a>
                    <a href="{% url 'main:signup' %}">Регистрация</a>
                    <a href="{% url 'main:about' %}">О нас</a>
                    <a href="{% url 'main:partners' %}">Наши партнёры</a>
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" methods="post">Выход</a>
                    {% else %}
                    <a href="{% url 'login' %}">Вход </a>|
                    <a href="{% url 'main:signup' %}"> Регистрация</a>
                    {% endif %}
                </nav>
            {% endblock %}
        </header>

        {% block content %} {% endblock %}

        <footer>

            {% block footer %}

            <footer>
    <div class="footer-container">
        <section class="footer-contact">
            <h3>Контактная информация</h3>
            <p>Адрес: 123456, Город, Улица, д. 1</p>
            <p>Телефон: +7 (123) 456-78-90</p>
            <p>Email: info@windrunnersclub.com</p>
        </section>

        <section class="footer-social">
            <h3>Мы в социальных сетях</h3>
            <a href="https://facebook.com">Facebook</a>
            <a href="https://instagram.com">Instagram</a>
            <a href="https://twitter.com">Twitter</a>
        </section>

        <section class="footer-links">
            <h3>Быстрые ссылки</h3>
                    <a href="{% url 'main:index' %}">Главная</a>
                    <a href="{% url 'news:news_list' %}">Новости</a>
                    <a href="{% url 'articles:article_list' %}">Статьи</a>
                    <a href="{% url 'events:event_list' %}">События</a>
                    <a href="{% url 'main:signup' %}">Регистрация</a>
                    <a href="{% url 'main:about' %}">О нас</a>
                    <a href="{% url 'main:partners' %}">Наши партнёры</a>
        </section>

        <section class="footer-legal">
            <p>&copy; 2024 Wind Runners Club. Все права защищены.</p>
            <a href="{% url 'main:privacy_policy' %}">Политика конфиденциальности</a>
            <a href="{% url 'main:terms_of_use' %}">Условия использования</a>
        </section>
    </div>
</footer>


            {% endblock %}
        </footer>


    </body>
</html>