{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Wind Runners Club{% endblock %}</title>
    <link rel="icon" href="{% static 'images/wrc_emblem.webp' %}" type="image/webp">
    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>


<header>


    {% block header %}

    <!--            Логотип в шапке-->
    <a href="{% url 'main:index' %}">
        <img src="{% static 'images/wrc_emblem.webp' %}" alt="Логотип Wend Runners Club" width="100">
    </a>
<h1>Wind Runners Club</h1>
    <nav>
        <a href="{% url 'main:index' %}">Главная</a>
        <a href="{% url 'news:news_list' %}">Новости</a>
        <a href="{% url 'articles:article_list' %}">Статьи</a>
        <a href="{% url 'events:event_list' %}">События</a>
        <a href="{% url 'gallery:gallery_list' %}">Галерея</a>
        <a href="{% url 'main:about' %}">О нас</a>
        <a href="{% url 'main:partners' %}">Наши партнёры</a>
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" methods="post">Выход</a>
        {% else %}
        <a href="{% url 'login' %}">Вход </a>|
        <a href="{% url 'main:signup' %}"> Регистрация</a>
        {% endif %}
    </nav>
    {% endblock %}
</header>

{% block content %} {% endblock %}

<footer>

    {% block footer %}

    <footer>
        <div class="footer-container">
            <section class="footer-contact">
                <h3>Контактная информация</h3>
                <p>Адрес: 123456, Город, Улица, д. 1</p>
                <p>Телефон: +7 (123) 456-78-90</p>
                <p>Email: info@windrunnersclub.com</p>
            </section>

            <section class="footer-social">
                <h3>Мы в социальных сетях</h3>
                <a href="https://facebook.com">Facebook</a>
                <a href="https://instagram.com">Instagram</a>
                <a href="https://twitter.com">Twitter</a>
            </section>

            <section class="footer-links">
                <h3>Быстрые ссылки</h3>
                <a href="{% url 'main:index' %}">Главная</a>
                <a href="{% url 'news:news_list' %}">Новости</a>
                <a href="{% url 'articles:article_list' %}">Статьи</a>
                <a href="{% url 'events:event_list' %}">События</a>
                <a href="{% url 'gallery:gallery_list' %}">Галерея</a>
                <a href="{% url 'main:about' %}">О нас</a>
                <a href="{% url 'main:partners' %}">Наши партнёры</a>
            </section>

            <section class="footer-legal">
                <p>&copy; 2024 Wind Runners Club. Все права защищены.</p>
                <a href="{% url 'main:privacy_policy' %}">Политика конфиденциальности</a>
                <a href="{% url 'main:terms_of_use' %}">Условия использования</a>
            </section>
        </div>
    </footer>


    {% endblock %}
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-g9QZpGFWpPHNlq2Th4InJ5EzLLNV4Cp6C1LB33lRvG7bf4IbxVx5Kd4ptVV9flB6" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy4Ck4SOF4y4Ck4C2DgHfViXydVeLm+JDM" crossorigin="anonymous"></script>

</body>
</html>