<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Wind Runners Club{% endblock %}</title>
    </head>
    <body>


        <header>

            {% block header %}
                <nav>
                    <a href="{% url 'main:index' %}">Главная</a>
                    <a href="{% url 'news:news_list' %}">Новости</a>
                    <a href="{% url 'articles:article_list' %}">Статьи</a>
                    <a href="{% url 'events:event_list' %}">События</a>
                    <a href="{% url 'signup' %}">Регистрация</a>
                </nav>
            {% endblock %}
        </header>

        {% block content %} {% endblock %}

        <footer>

            {% block footer %}Вставить футер {% endblock %}
        </footer>


    </body>
</html>